@use '../../scss/variables' as *;

@mixin icon {
	width: 2rem;
	height: 2rem;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;

  &:hover {
		transform: scale(1.1);
  }
}

.good-item {
	width: 30rem;
	height: 40rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	margin: 1rem;
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		box-shadow: 0 0 20px $black;
	}

	.good-item__image-wrapper {
		height: 70%;
		position: relative;

		.good-item__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 1rem;
		}

		.image-fav {
      @include icon;
		}

		.image-cart {
      @include icon;
      top: 5rem;
		}
	}

	.good-item__base {
		width: 100%;
		height: 25%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
		overflow: hidden;

		.good-item__name {
			font-size: 3rem;
			font-weight: bold;
		}

		.good-item__brand {
			font-size: 1.6rem;
			color: $blue;
		}

		.good-item__rating {
			display: flex;
			gap: 1rem;
		}

		.good-item__price {
			width: fit-content;
			font-size: 2rem;
			font-weight: bold;
		}
	}
}
