@use '../../scss/variables' as *;

.admin {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 2rem;
  column-gap: 2rem;
  height: 85vh;

  .goods-list {
    .goods-list__navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .goods-list__navigation-add {
        padding: 0.7rem;
        border-radius: 1rem;
        background-color: $button-bg;
        color: $grey;
        border: none;
        outline: 0.1rem solid $cyan;
        cursor: pointer;
      }

      .goods-list__navigation-search {
        width: 30rem;
        border-radius: 1rem;
        background-color: $purple-input;
        border: none;
        color: $grey;
        padding: 0 1rem;

        &::placeholder {
          color: $brand-card;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .goods-list, .users-list {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    position: relative;
  }
}