@use '../../scss/variables' as *;

// @keyframes flying {
//   0% {
//     transform: translateY(-20rem);
//   }
//   100% {
//     transform: translateY(calc(100vh + 20rem));
//   }
// }

.app {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-position: center;
  position: relative;
  z-index: 1;
  // background-size: cover;
  // background-color: $background-color;
  background-color: transparent;
  backdrop-filter: blur(2px);
  // overflow: hidden;

  // i {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 20rem;
  //   background: linear-gradient(transparent, green);
  //   border-bottom-left-radius: 1rem;
  //   border-bottom-right-radius: 1rem;
  //   animation: flying 5s linear infinite;
  //   opacity: 0.15;
    

  //   &:nth-child(3n + 1) {
  //     background: linear-gradient(transparent, purple);
  //   }
  //   &:nth-child(3n + 2) {
  //     background: linear-gradient(transparent, yellow);
  //   }
  //   &:nth-child(3n + 3) {
  //     background: linear-gradient(transparent, violet);
  //   }
  // }
}
