@use '../../scss/variables' as *;

// @keyframes flying {
//   0% {
//     transform: translateY(-20rem);
//   }
//   100% {
//     transform: translateY(calc(100vh + 20rem));
//   }
// }

.app {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-position: center;
  position: relative;
  z-index: 1;
  background-color: transparent;
  backdrop-filter: blur(2px);

  .buttons__arrow {
    background-size: contain;
    position: sticky;
    left: 1vw;
    top: 50vh;
    z-index: 3;
    transition: all 0.3s ease-in-out;

    &::before {
      content: '';
      background-image: url('../../assets/images/next.png');
      width: 4rem;
      height: 4rem;
      position: fixed;
      background-size: contain;
    }
  }

  .buttons__hover {
    position: sticky;
    left: 1vw;
    top: 50vh;

    &::before {
      content: '';
      position: fixed;
      width: 3rem;
      height: 80vh;
      background: linear-gradient(90deg, rgba(51,0,134,0.5) 0%, rgba(255,255,255,0) 100%);
      top: 10%;
      z-index: 3;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }


    .particles-switcher {
      position: fixed;
      top: 12%;
      left: 0.5%;
      width: 4rem;
      height: 4rem;
      border: none;
      background-color: transparent;
      background-image: url('../../assets/images/virus.png');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  
      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transition: box-shadow 0.3s ease-in-out;
      }
  
      &:hover::before {
        box-shadow: 0 0 3rem 1.5rem $cyan;
      }
    }
  }


}
