@use '../../scss/variables' as *;

// @keyframes flying {
//   0% {
//     transform: translateY(-20rem);
//   }
//   100% {
//     transform: translateY(calc(100vh + 20rem));
//   }
// }

.app {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-position: center;
  position: relative;
  z-index: 1;
  // background-size: cover;
  // background-color: $background-color;
  background-color: transparent;
  backdrop-filter: blur(2px);
  // overflow: hidden;

  .particles-switcher {
    position: fixed;
    top: 1rem;
    left: 30rem;
    width: 8rem;
    height: 3rem;
    z-index: 3;
  }

}
