@use '../../scss/variables' as *;

.main {
  padding-bottom: 2rem;
  overflow: hidden;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .pagination {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    height: 0.5rem;
    gap: 1rem;
    margin-bottom: 1rem;
  
    .pagination-item {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $marine;
      color: $grey;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: box-shadow 0.1s ease-in-out;
      user-select: none;
  
      &:hover {
        box-shadow: 0 0 0.5rem 0.5rem $cyan;
      }

      &:active {
        box-shadow: 0 0 0.5rem 0.5rem $card-price;
      }
    }
  }
}