@use '../../../../scss/variables' as *;

.cart {
  @include dropdown;
  width:30rem;
  height: fit-content;
  max-height: 50rem;
  overflow-y: scroll;
  position: absolute;
  top: 4rem;
  left: -20rem;
  z-index: 2;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;

  .items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    .items-container__nothing {
      font-size: 2rem;
      padding: 2rem;
    }
  }

  .cart__pay {
    @include flowButton;
    min-height: 2.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    color: $grey;
  }
}