@use '../../../../scss/variables' as *;

.cart {
  @include dropdown;
  width:30rem;
  height: fit-content;
  position: absolute;
  top: 4rem;
  left: -20rem;
  z-index: 2;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;

  .items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  .cart__pay {
    height: 2.5rem;
    margin-top: 1rem;
    background-color: $cyan;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
}