@use '../../scss/variables' as *;

@mixin icon {
	width: 3rem;
	object-fit: contain;
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
		filter: brightness(1.2) saturate(2);
	}

	&:active {
		transform: scale(0.95);
	}
}

.header {
	background-color: rgba(170, 0, 255, 0.1);
	// background: linear-gradient(
	// 	0deg,
	// 	rgba(170, 0, 255, 1) 12%,
	// 	#00bcd4 90%,
	// );
	// filter: blur(20px);
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;

	.header__logo {
		width: 15rem;
		object-fit: contain;
		cursor: pointer;
	}

	.header__search {
		max-height: 2.5rem;
	}

	.header__icons {
		display: flex;
		align-items: center;
		gap: 2rem;
		position: relative;

		.header__fav-logo {
			@include icon;
		}

		.header__fav-logo-counter {
			width: 2rem;
			height: 2rem;
			position: absolute;
			top: -1rem;
			left: 3rem;
			color: $dark_yellow;
			font-size: 1.6rem;
			// transition: all 0.3s ease-in-out;
		}

		.cart-wrapper {
			position: relative;
			height: fit-content;

			.header__cart-icon {
				@include icon;
			}

			.header__cart-logo-counter {
				width: 2rem;
				height: 2rem;
				position: absolute;
				top: -1.6rem;
				left: 3rem;
				color: $dark_yellow;
				font-size: 1.6rem;
			}
		}

		.acc-wrapper {
			position: relative;

			.header__acc-icon {
				width: 4rem;
				border-radius: 50%;
			}

			.header__acc-menu {
				z-index: 2;
				min-width: 20rem;
				position: absolute;
				top: 5rem;
				left: -16rem;
				background-color: $white;
				outline: solid $yellow 0.25rem;
				list-style: none;
				width: 10rem;
				padding: 2rem;
				display: flex;
				flex-direction: column;
				gap: 2rem;
				border-radius: 1rem;
				font-size: 2rem;
				visibility: hidden;
				transition: all 0.4s ease-in-out;

				li {
					cursor: pointer;

					&:hover {
						color: $yellow;
					}
				}
			}
		}
	}
}
