@use "../../../../scss/variables" as *;

.good {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $purple-half-opaque;
  border-radius: 1rem;
  outline: 0.2rem solid $violet;
  box-shadow: inset 0 0 3rem $purple-light;

  .good-img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    padding: 1.5rem;
    border-radius: 2.5rem;
  }

  .good-change-btn {
    width: 12rem;
    height: 6rem;
    border-radius: 2rem;
    border: none;
    background-color: $cyan-half-opaque;
    color: $brand-card;
    font-size: 1.6rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    outline: 0.2rem solid $cyan;

    &:hover {
      background-color: $button-bg;
    }
  }

  .good-inner-wrapper {
    width: 40rem;
    display: flex;
    justify-content: space-between;

    .good-text {
      display: flex;
      flex-direction: column;
      width: 12rem;
      gap: 1rem;
      width: fit-content;
  
      p {
        font-size: 2rem;
      }
  }

  }

  .good-delete-btn {
    @include deleteButton;
  }
}
