@use 'components/App/App';
@use 'components/Main/Main';
@use 'components/ItemsContainer/ItemsContainer';
@use 'components/SignUp/SignUp';
@use 'components/Header/Header';
@use 'components/SideMenu/SideMenu';
@use 'components/Profile/Profile';
@use 'components/Admin/Admin';
@use 'components/Admin/components/Good/Good';
@use 'components/Admin/components/User/User';
@use 'components/Header/components/Input/Input';
@use 'components/GoodItem/GoodItem.scss';
@use 'components/Header/components/Cart/Cart';
@use 'components/Favourites/Favourites';
@use 'components/Header/components/CartItem/CartItem';

// POPUPS
@use 'components/Layout/components/CreateGoodPopup/CreateGoodPopup';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

