@use 'components/App/App';
@use 'components/SignUp/SignUp';
@use 'components/Header/Header';
@use 'components/SideMenu/SideMenu';
@use 'components/Profile/Profile';
@use 'components/Header/components/Input';
@use 'components/GoodItem/GoodItem.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

