$yellow: #F4BF76;
$dark_yellow: #F2A742;
$medium: #252F3D;
$medium-half-opaque: rgba(37, 47, 61, 0.5);
$grey: #DDDDDD;
$dark_grey: #C9CCCC;
$disabled_grey: #565959;
$blue: #007185;
$red: #B12704;
$white: #FFFFFF;
$black: #000;
$black_half: rgba(0, 0, 0, 0.1);