$yellow: #f4bf76;
$dark_yellow: #f2a742;
$medium: #252f3d;
$medium_corner: rgba(37, 47, 61, 0.5);
$medium-half-opaque: rgba(37, 47, 61, 0.5);
$dark_grey: #c9cccc;
$disabled_grey: #565959;
$blue: #007185;
$red: #b12704;
$white: #ffffff;
$black: #000;
$black_half: rgba(0, 0, 0, 0.1);

//////////////////////

$background-color: #10041e;
$background-color-transparent: #10041ea8;
$marine: #007a8a86;
$purple-input: #5c0099;
$purple-dark: #5f008e7c;
$purple: #560081;
$purple-half-opaque: #5600817a;
$purple-light: #6d00a3;
$purple-dropdown: #64009381;
$violet: #aa00ff;
$violet-half-opaque: #aa00ffad;
$cyan: #00bcd4;
$cyan-half-opaque: #00bbd480;
$blue-black: #060c21;
$blue-dark: #008dd400;
$button-bg: rgba(0, 147, 205, 0.475);

$grey: #dddddd;
$card-price: #03b17a;
$brand-card: #86ace5;
$card-text-shadow: #86e5e5;

$breakpoint1: 1800px;
$breakpoint2: 1350px;
$breakpoint3: 1024px;
$breakpoint4: 640px;

@mixin dropdown {
	background-color: $purple-dropdown;
	filter: blur(1rem);
	opacity: 0;
	border-radius: 1rem;
	outline: 0.2rem solid $cyan;
	box-shadow: inset 0 0 5rem $cyan;
}

@mixin deleteButton {
	width: 3rem;
	height: 3rem;
	background-color: transparent;
	background-image: url('../../../../assets/images/trash-bin.png');
	background-size: cover;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.1s ease-in-out;

	&:hover {
		opacity: 0.75;
	}
}

@mixin flowButton {
	overflow: hidden;
	position: relative;
	outline: 0.1rem solid $cyan;
	box-shadow: inset 0 0 2rem 0.4rem $card-price;
	cursor: pointer;
	background-color: transparent;
	backdrop-filter: blur(20px);
	border: none;
	color:$grey;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: 1rem;
		background-color: $card-price;
		transform: translateX(-100%);
		transition: all 0.5s ease-in-out;
	}

	&:hover::before {
		transform: translateX(0);
	}

	&:active::before {
		background-color: $cyan;
	}
}

@mixin container {
	background-color: $marine;
	padding: 3rem;
	border-radius: 3rem;
	outline: 0.2rem solid $cyan;
	box-shadow: inset 0 0 5rem $cyan-half-opaque;
}