@use '../../scss/variables' as *;

.items {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  padding: 2rem;
  row-gap: 3rem;
  overflow: hidden;
  align-items: start;
  flex-grow: 1;

  @media screen and (max-width: $breakpoint1) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: $breakpoint2) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $breakpoint3) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $breakpoint4) {
    grid-template-columns: 1fr;
  }
}
